*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.eggs
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
local/
parts/
dist/
var/
src/collective.aaf
src/collective.shibboleth


# OSX
.DS_Store
